html, body { 
    margin: 0;
    padding: 0;
    background-color: black;
}



.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);

}

.board__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}





