:root {
  --clr-bg: #161030;
  --clr-font: #ffffff;
  --clr-accent1: #1a244d;
}

.App {
  color: var(--clr-font);
  background-color: var(--clr-bg);
  height: 100vh;
  user-select: none;
  overflow: hidden;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/blue-table.jpg");
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
  padding: 1em;
}

.container {
  margin: 0 auto;
  padding: 50px;
  background-size: cover;
  max-width: 1200px;
  width: 80%;
}

.board-header {
  padding: 1em;
}
.board-main {
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5em;
}

.board-footer {
  display: flex;
  gap: 2em;
}

.main-container {
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-size: 2rem;
  font-weight: 600;
}
.game-message {
  font-size: 1.4rem;
}


.reset-btn {
  color: #f00;
  border: 1px solid #f00;
}
.reset-btn:hover {
  color: #000;
  background: #f00;
  box-shadow: 0 10px 20px #f00;
}

.btn {
  color: #0ff;
  background-color: black;
  border: 1px solid #0ff;
  padding: 0.5em 1em;
  font-size: .9rem;
  transition: all 200ms;
}

.btn:hover {
  color: #000;
  background: #0ff;
  box-shadow: 0 5px 20px #0ff;
}