* {
    box-sizing: border-box;
    margin: 0;
}


@font-face {
  src: url("fonts/DS-DIGI.ttf");
  font-family: digital;
}


body {
    margin: 0 auto;
    /* font-family: 'Roboto', sans-serif; */
    /* height: 100vh; */
    color: white;
    background-color: black;
}

button {
    cursor: pointer;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}





.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/blue-table.jpg");
    background-size: cover;
    margin: 0 auto;
    min-width: 600px;
    max-width: 70%;
    text-align: center;
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
    padding: 1em;


}

.container {
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    background-color: rgb(27, 17, 68);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75)), url("images/giphy.gif");
    background-size: cover;
    color: white;
}


.game-btn {
    color: #0ff;
    background-color: black;
    border: 1px solid #0ff;
    padding: .5em 1em;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
